.page {
  font-family: 'TmoneyRoundWindRegular';
  padding: 50px 100px 0px 100px;
}

.container {
  display: grid;
  flex-direction: row;
  justify-content: space-between;
  grid-template-columns: 1fr 3fr;
}

.choose {
  margin-right: 20px;
  border: solid 2px #d9d9d9;
  height: 800px;
  min-width: 400px;
}

.btnArea {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.searchBtn {
  color: white;
  background-color: #2200F4;
  width: 150px;
  height: 40px;
  font-size: 22px;
  border-radius: 20px;
}

.map {
  overflow: hidden;
}