/* Mypage */

@import url("https://fonts.googleapis.com/css2?family=Noto Sans KR:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");


.flex-col-hstart-vstart {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.flex-col-hcenter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-col-hcenter-vstart {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.flex-row-vcenter-hsb {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.flex-row-vcenter-hcenter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flex-hcenter {
  justify-content: center;
}

.flex-row-vstart-hend {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
}

.flex-row-vstart-hstart {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.flex-row-vcenter-hstart {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.flex-col-hend-vstart {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}

.flex-row-vend-hstart {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
}

.flex-row-vend-hcenter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}

.mypage {
  padding: 49px 0px 60px 0px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 1);
  width: 1920px;
  height: 1400px;
}

.group-396 {
  width: 100%;
  height: 100%;
}

.navbar {
  margin-bottom: 40px;
  box-sizing: border-box;
  border-bottom: 1.3px solid rgba(201, 201, 201, 1);
  width: 100%;
}

.navbaritems {
  width: fit-content;
  height: 100%;
}

.navbarlinktolandingbtn {
  height: 100%;
}

.maki-town {
  width: 80px;
  height: 67.1px;
  margin-right: 6px;
}

.txt-10108 {
  font-size: 70px;
  font-family: Noto Sans KR, sans-serif;
  font-weight: 700;
  color: rgba(0, 0, 0, 1);
  word-wrap: break-word;
}

.navbaroptarea {
  padding: 29px 0px 0px 0px;
  box-sizing: border-box;
  height: fit-content;
}

.txt-966 {
  font-size: 24px;
  font-family: Noto Sans KR, sans-serif;
  font-weight: 500;
  color: rgba(0, 0, 0, 1);
  text-align: center;
  word-wrap: break-word;
  margin-right: 70px;
}

.bi-person {
  width: 53px;
  height: 100%;
}

.frame-38 {
  width: fit-content;
}

.frame-58 {
  padding: 49px;
  margin-bottom: 40px;
  box-sizing: border-box;
  border: 1px solid rgba(192, 192, 192, 1);
  width: 100%;
}

.frame-54 {
  height: 100%;
}

.rectangle-7 {
  background-color: rgba(145, 217, 227, 1);
  width: 247px;
  border-radius: 123.5px;
  margin-right: 71px;
  height: 100%;
}

.frame-57 {
  height: fit-content;
}

.frame-53 {
  margin-bottom: 31px;
  box-sizing: border-box;
  width: fit-content;
}

.txt-916 {
  font-size: 40px;
  font-family: Tmoney RoundWind, sans-serif;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
  text-align: center;
  width: 290px;
  height: 96px;
  word-wrap: break-word;
}

.txt-428 {
  font-size: 32px;
  font-family: Tmoney RoundWind, sans-serif;
  font-weight: 400;
  color: rgba(96, 96, 96, 1);
  text-align: center;
  width: 144px;
  height: 96px;
  word-wrap: break-word;
}

.frame-55 {
  width: 100%;
}

.txt-110 {
  font-size: 40px;
  font-family: Tmoney RoundWind, sans-serif;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
  text-align: center;
  width: 130px;
  height: 74px;
  word-wrap: break-word;
}

.frame-54 {
  height: fit-content;
}

.txt-490 {
  font-size: 40px;
  font-family: Tmoney RoundWind, sans-serif;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
  width: 207px;
  word-wrap: break-word;
  margin-right: 17px;
}

.txt-741 {
  font-size: 40px;
  font-family: Tmoney RoundWind, sans-serif;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
  width: 304px;
  word-wrap: break-word;
}

.util-button {
  padding: 11px 15px;
  box-sizing: border-box;
  border-radius: 999px;
  background-color: rgba(227, 228, 0, 1);
  width: 210px;
  height: 63px;
}

.label-_wrap {
  height: fit-content;
}

.txt-917 {
  font-size: 24px;
  font-family: Inter, sans-serif;
  font-weight: 500;
  line-height: 100%;
  color: rgba(68, 68, 68, 1);
  text-align: center;
  word-wrap: break-word;
}

.frame-56 {
  width: 109.79px;
  height: 53px;
}

.frame-73 {
  border: 3px solid rgba(0, 0, 0, 1);
  width: fit-content;
}

.frame-72 {
  height: fit-content;
}

.frame-62 {
  margin-bottom: 19px;
  box-sizing: border-box;
  width: 100%;
}

.frame-61 {
  margin-bottom: 9px;
  box-sizing: border-box;
  width: fit-content;
}

.txt-543 {
  font-size: 40px;
  font-family: Tmoney RoundWind, sans-serif;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
  text-align: center;
  word-wrap: break-word;
  margin-right: 63px;
}

.util-button-1 {
  padding: 11px 15px;
  margin-right: 63px;
  box-sizing: border-box;
  border-radius: 999px;
  background-color: rgba(0, 0, 0, 1);
  width: 100px;
  height: 47px;
}

.txt-936 {
  font-size: 24px;
  font-family: Inter, sans-serif;
  font-weight: 500;
  line-height: 100%;
  color: rgba(250, 250, 250, 1);
  text-align: center;
  word-wrap: break-word;
}

.txt-959 {
  font-size: 20px;
  font-family: Tmoney RoundWind, sans-serif;
  font-weight: 400;
  color: rgba(255, 0, 0, 1);
  word-wrap: break-word;
}

.frame-76 {
  padding: 9px;
  box-sizing: border-box;
  border: 1px solid rgba(192, 192, 192, 1);
  height: 201px;
  width: 100%;
}

.frequent-_item {
  padding: 0px 9px;
  box-sizing: border-box;
  width: fit-content;
}

.txt-955 {
  font-size: 32px;
  font-family: Tmoney RoundWind, sans-serif;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
  text-align: center;
  word-wrap: break-word;
  margin-right: 19px;
}

.txt-969 {
  font-size: 32px;
  font-family: Tmoney RoundWind, sans-serif;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
  width: 462px;
  height: 55px;
  word-wrap: break-word;
  margin-right: 19px;
}

.frequent-_deletebtn {
  width: 24px;
  height: 24px;
}

.frame-57 {
  width: 100%;
}

.txt-625 {
  font-size: 40px;
  font-family: Tmoney RoundWind, sans-serif;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
  text-align: center;
  word-wrap: break-word;
  margin-bottom: 3px;
}

.frame-75 {
  padding: 9px;
  box-sizing: border-box;
  border: 1px solid rgba(192, 192, 192, 1);
  height: 419px;
  width: 100%;
}

.place-_recommend-_item {
  padding: 0px 9px;
  box-sizing: border-box;
  width: 100%;
}

.txt-167 {
  font-size: 32px;
  font-family: Tmoney RoundWind, sans-serif;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
  text-align: center;
  width: 216px;
  height: 55px;
  word-wrap: break-word;
  margin-right: 18px;
}

.place-_recommend-_taglist {
  display: flex;
  flex: 1;
  padding: 9px;
  margin-right: 18px;
  box-sizing: border-box;
  width: 267px;
  height: 100%;
}

.txt-655 {
  font-size: 32px;
  font-family: Tmoney RoundWind, sans-serif;
  font-weight: 400;
  color: rgba(81, 171, 255, 1);
  word-wrap: break-word;
}

.util-button-2 {
  padding: 11px 15px;
  box-sizing: border-box;
  border-radius: 999px;
  background-color: rgba(0, 0, 0, 1);
  width: 131px;
  height: 47px;
}

.txt-936 {
  font-size: 24px;
  font-family: Inter, sans-serif;
  font-weight: 500;
  line-height: 100%;
  color: rgba(250, 250, 250, 1);
  text-align: center;
  word-wrap: break-word;
}

.frame-38 {
  height: fit-content;
}

.frame-65 {
  margin-bottom: 35px;
  box-sizing: border-box;
  width: fit-content;
}

.frame-64 {
  margin-bottom: 17px;
  box-sizing: border-box;
  width: fit-content;
}

.txt-500 {
  font-size: 40px;
  font-family: Tmoney RoundWind, sans-serif;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
  text-align: center;
  word-wrap: break-word;
  margin-right: 45px;
}

.util-button-3 {
  padding: 11px 15px;
  box-sizing: border-box;
  border-radius: 999px;
  background-color: rgba(0, 0, 0, 1);
  width: 100px;
  height: 47px;
}

.txt-936 {
  font-size: 24px;
  font-family: Inter, sans-serif;
  font-weight: 500;
  line-height: 100%;
  color: rgba(250, 250, 250, 1);
  text-align: center;
  word-wrap: break-word;
}

.frame-78 {
  padding: 9px;
  box-sizing: border-box;
  border: 1px solid rgba(192, 192, 192, 1);
  width: 100%;
}

.txt-678 {
  font-size: 40px;
  font-family: Tmoney RoundWind, sans-serif;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
  text-align: center;
  word-wrap: break-word;
}

.frame-67 {
  margin-bottom: 35px;
  box-sizing: border-box;
  width: 100%;
}

.frame-66 {
  margin-bottom: 6px;
  box-sizing: border-box;
  width: fit-content;
}

.txt-678 {
  font-size: 40px;
  font-family: Tmoney RoundWind, sans-serif;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
  text-align: center;
  word-wrap: break-word;
}

.txt-542 {
  font-size: 20px;
  font-family: Tmoney RoundWind, sans-serif;
  font-weight: 400;
  color: rgba(102, 102, 102, 1);
  text-align: center;
  word-wrap: break-word;
}

.frame-77 {
  padding: 9px;
  box-sizing: border-box;
  border: 1px solid rgba(192, 192, 192, 1);
  width: 724px;
  height: 132px;
}

.mypage-review {
  background-color: rgba(255, 255, 255, 1);
  width: fit-content;
}

.frame-57 {
  height: 100%;
}

.txt-575 {
  font-size: 24px;
  font-family: Tmoney RoundWind, sans-serif;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
  width: 137px;
  height: 38px;
  word-wrap: break-word;
}

.placereview-_preview {
  padding: 2px 0px 1px 0px;
  box-sizing: border-box;
  height: 100%;
}

.txt-747 {
  font-size: 24px;
  font-family: Tmoney RoundWind, sans-serif;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
  width: 411px;
  word-wrap: break-word;
}

.stareval {
  width: 124px;
  height: 24px;
}

.frame-38 {
  width: fit-content;
}

.frame-68 {
  margin-bottom: 8px;
  box-sizing: border-box;
  width: fit-content;
}

.txt-678 {
  font-size: 40px;
  font-family: Tmoney RoundWind, sans-serif;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
  text-align: center;
  word-wrap: break-word;
}

.txt-542 {
  font-size: 20px;
  font-family: Tmoney RoundWind, sans-serif;
  font-weight: 400;
  color: rgba(102, 102, 102, 1);
  text-align: center;
  word-wrap: break-word;
}

.frame-38 {
  width: 100%;
}

.frame-37 {
  padding: 12px 10px;
  box-sizing: border-box;
  border: 1px solid rgba(192, 192, 192, 1);
  height: 240px;
  width: 100%;
}

.mypage-_post {
  padding: 0px 19px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 1);
  height: 32px;
  width: 100%;
}

.txt-327 {
  font-size: 16px;
  font-family: Inter, sans-serif;
  font-weight: 500;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  text-align: center;
  word-wrap: break-word;
  margin-right: 21px;
}

.txt-592 {
  font-size: 16px;
  font-family: Inter, sans-serif;
  font-weight: 500;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  word-wrap: break-word;
  margin-right: 21px;
}

.visibility {
  width: 224px;
  height: 24px;
  margin-right: 21px;
}

.post-_view {
  margin-right: 21px;
  box-sizing: border-box;
  height: fit-content;
}

.post-_viewicon {
  width: 22px;
  height: 15px;
  margin-right: 22px;
}

.txt-349 {
  font-size: 16px;
  font-family: Inter, sans-serif;
  font-weight: 500;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  word-wrap: break-word;
}


.post-_replyicon {
  width: 24px;
  margin-right: 21px;
  height: 100%;
}

.txt-349 {
  font-size: 16px;
  font-family: Inter, sans-serif;
  font-weight: 500;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  word-wrap: break-word;
}

.reviewboardbottomarea {
  padding: 0px 0px 4px 0px;
  box-sizing: border-box;
  width: 580px;
  height: 55px;
}

.reviewboardpaginationarea {
  width: 60px;
  height: fit-content;
}

.arrowprev {
  width: 10px;
  height: 10px;
}

.txt-292 {
  font-size: 16px;
  font-family: Tmoney RoundWind, sans-serif;
  font-weight: 400;
  color: rgba(51, 51, 51, 1);
  word-wrap: break-word;
}