/* Footer */

@import url("https://fonts.googleapis.com/css2?family=Noto Sans KR:wght@700&display=swap");


.flex-col-hstart-vstart {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.flex-row-vcenter-hstart {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.flex-row-vcenter-hcenter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.footer {
  padding: 9px 100px;
  box-sizing: border-box;
  background-color: rgba(45, 62, 70, 1);
  width: 1918px;
  height: 104px;
}

.frame-33 {
  width: 100%;
  height: 100%;
}

.navbarlinktolandingbtn {
  margin-right: 577px;
  box-sizing: border-box;
  width: 298px;
  height: 100%;
}

.maki-town {
  width: 80px;
  height: 67.1px;
  margin-right: 6px;
}

.txt-842 {
  font-size: 70px;
  font-family: Noto Sans KR, sans-serif;
  font-weight: 700;
  color: rgba(255, 255, 255, 1);
  word-wrap: break-word;
}

.txt-116 {
  font-size: 36px;
  font-family: Noto Sans KR, sans-serif;
  font-weight: 700;
  color: rgba(255, 255, 255, 1);
  word-wrap: break-word;
}