.page {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0px 10px 0px 10px;
}

.titleArea {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.title {
  font-size: 28px;
  margin-left: 5px;
  color: #333333;
  margin-bottom: 10px;
}

.moreBtn {
  width: 70px;
  height: 30px;
  border-radius: 80px;
  background-color: #222222;
  font-size: 14px;
  color: #ffffff;
  cursor: pointer;
}

.contentArea {
  border-radius: 10px;
  border: solid 1px #C0C0C0;  
  padding: 0px 12px 0px 12px;
  margin-bottom: 20px;
}

.review {
  display: flex;
  flex-direction: column;
}


.contentLine {
  display: flex;
  justify-content: space-between;
  margin: 6px 0 6px 0;
}

.contentTitle {
  font-size: 20px;
}

.board {
  display: flex;
  justify-content: space-between;
}

.heart {
  margin-right: 5px;
}
