.flexRowSpaceBetween {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.flexRowLeftAlign {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.postRow {
    padding: 9px;
    box-sizing: border-box;
    background: linear-gradient(0deg, rgba(34, 0, 244, 1), rgba(34, 0, 244, 1)),
      linear-gradient(0deg, rgba(255, 255, 255, 1), rgba(255, 255, 255, 1)),
      linear-gradient(0deg, rgba(255, 255, 255, 1), rgba(255, 255, 255, 1));
    border: 1px solid rgba(192, 192, 192, 1);
    width: 864px;
    height: 50px;
  }
  
  .wrapper {
    width: 843px;
  }
  
  .textArea {
    box-sizing: border-box;
    width: 50%;
    height: 100%;
  }

  .title {
    font-size: 22px;
    font-family: Tmoney RoundWind, sans-serif;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    word-wrap: break-word;
  }

  .infoArea {
    height: fit-content;
  }
  
  .infoTxt {
    font-size: 16px;
    font-family: Tmoney RoundWind, sans-serif;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    word-wrap: break-word;
    margin-right: 10px;
  }

  .replies {
    margin-right: 10px;
    box-sizing: border-box;
    height: fit-content;
  }
  
  .repliesIcon {
    width: 24px;
    margin-right: 21px;
    height: 100%;
  }

  .views {
    padding: 3px 0px;
    margin-right: 10px;
    box-sizing: border-box;
    height: 100%;
  }
  
  .viewsIcon {
    width: 22px;
    height: 15px;
    margin-right: 10px;
  }

  .likes {
    width: 69px;
    height: fit-content;
  }

  .likesIcon {
    width: 25px;
    height: 100%;
  }