/* Kmmap */

@import url("https://fonts.googleapis.com/css2?family=Noto Sans KR:wght@500;700&display=swap");

.container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin-top: 30px;
}

.content {
  margin: 0px 35px 0px 35px;
}

.image {
  width: 95px;
  height: 60px;
}

.link {
  font-size: 24px;
  font-family: Noto Sans KR, sans-serif;
  font-weight: 500;
  color: rgba(0, 0, 0, 1);
  text-align: center;
  word-wrap: break-word;
  text-decoration: none;
}

a {
  text-decoration: none;
}

