p {
    margin: 0;
  }
  
  .flex-row-vcenter-hcenter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .flex-row-vcenter-hstart {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  
  .flex-row-vcenter-hsb {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .reviewrow {
    padding: 9px;
    box-sizing: border-box;
    background: linear-gradient(0deg, rgba(34, 0, 244, 1), rgba(34, 0, 244, 1)),
      linear-gradient(0deg, rgba(255, 255, 255, 1), rgba(255, 255, 255, 1)),
      linear-gradient(0deg, rgba(255, 255, 255, 1), rgba(255, 255, 255, 1));
    border: 1px solid rgba(192, 192, 192, 1);
    width: 580px;
    height: 50px;
  }
  
  .reviewrowtitlearea {
    padding: 9px;
    box-sizing: border-box;
  }
  
  .txt-131 {
    font-size: 22px;
    font-family: Tmoney RoundWind, sans-serif;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    word-wrap: break-word;
  }
  
  .reviewrowtitlearea {
    padding: 9px;
    box-sizing: border-box;
  }
  
  .txt-537 {
    font-size: 16px;
    font-family: Tmoney RoundWind, sans-serif;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    word-wrap: break-word;
  }
  
  .hotrowinfoarea {
    position: relative;
    width: 303px;
    height: fit-content;
  }
  
  .hotrowlikearea {
    position: absolute;
    top: 0px;
    left: 229px;
    width: 69px;
    height: 100%;
  }
  
  .hotrowlikelogo {
    width: 25px;
    height: 100%;
  }
  
  .txt-537 {
    font-size: 16px;
    font-family: Tmoney RoundWind, sans-serif;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    word-wrap: break-word;
  }
  
  .stareval {
    width: 124px;
    height: 24px;
  }