/* Postrow */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");

.flex-row-vcenter-hsb {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.flex-row-vstart-hstart {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.flex-row-vcenter-hcenter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flex-row-vcenter-hstart {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}