/* Reviewviewpost */

@import url("https://fonts.googleapis.com/css2?family=Noto Sans KR:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");


.clip-contents {
  overflow: hidden;
}

.flex-col-hstart-vstart {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.flex-col-hcenter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-col-hcenter-vstart {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.flex-row-vcenter-hsb {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.flex-row-vcenter-hcenter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flex-hcenter {
  justify-content: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row-vend {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.flex-row-vcenter-hstart {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.reviewviewpost {
  padding: 49px 0px 97px 0px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 1);
  width: 1920px;
  height: 1080px;
}

.group-130 {
  width: 100%;
  height: 100%;
}

.navbar {
  margin-bottom: 56px;
  box-sizing: border-box;
  border-bottom: 1.3px solid rgba(201, 201, 201, 1);
  width: 100%;
}

.navbaritems {
  width: fit-content;
  height: 100%;
}

.navbarlinktolandingbtn {
  height: 100%;
}

.maki-town {
  width: 80px;
  height: 67.1px;
  margin-right: 6px;
}

.txt-594 {
  font-size: 70px;
  font-family: Noto Sans KR, sans-serif;
  font-weight: 700;
  color: rgba(0, 0, 0, 1);
  word-wrap: break-word;
}

.navbaroptarea {
  padding: 29px 0px 0px 0px;
  box-sizing: border-box;
  height: fit-content;
}

.txt-8310 {
  font-size: 24px;
  font-family: Noto Sans KR, sans-serif;
  font-weight: 500;
  color: rgba(0, 0, 0, 1);
  text-align: center;
  word-wrap: break-word;
  margin-right: 70px;
}

.bi-person {
  width: 53px;
  height: 100%;
}

.group-848 {
  width: fit-content;
}

.txt-471 {
  font-size: 40px;
  font-family: Tmoney RoundWind, sans-serif;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
  word-wrap: break-word;
  margin-bottom: 36px;
}

.group-353 {
  padding: 45px 52px 65px 42px;
  box-sizing: border-box;
  border: 1px solid rgba(192, 192, 192, 1);
  width: 100%;
}

.group-1049 {
  margin-bottom: 21px;
  box-sizing: border-box;
  width: fit-content;
}

.group-5103 {
  margin-bottom: 22px;
  box-sizing: border-box;
  width: 100%;
}

.line-5 {
  border: 1px solid rgba(0, 0, 0, 1);
  height: 1px;
  width: 100%;
}

.txt-547 {
  font-size: 24px;
  font-family: Tmoney RoundWind, sans-serif;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
  word-wrap: break-word;
  margin-right: 59px;
}

.txt-244 {
  font-size: 24px;
  font-family: Tmoney RoundWind, sans-serif;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
  word-wrap: break-word;
  margin-right: 1053px;
}

.txt-374 {
  font-size: 20px;
  font-family: Tmoney RoundWind, sans-serif;
  font-weight: 400;
  color: rgba(113, 113, 113, 1);
  word-wrap: break-word;
  margin-right: 61px;
}

.txt-181 {
  font-size: 20px;
  font-family: Tmoney RoundWind, sans-serif;
  font-weight: 400;
  color: rgba(113, 113, 113, 1);
  word-wrap: break-word;
  margin-right: 65px;
}

.txt-4210 {
  font-size: 20px;
  font-family: Tmoney RoundWind, sans-serif;
  font-weight: 400;
  color: rgba(113, 113, 113, 1);
  word-wrap: break-word;
}

.stareval {
  width: 157px;
  height: 40px;
}

.txt-2910 {
  font-size: 24px;
  font-family: Tmoney RoundWind, sans-serif;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
  width: 1516px;
  word-wrap: break-word;
  margin-bottom: 136px;
}

.rectangle-65 {
  background-color: rgba(217, 217, 217, 1);
  width: 137px;
  height: 137px;
  border-radius: 30px;
  margin-bottom: 62px;
}

.util-button {
  padding: 11px 15px;
  box-sizing: border-box;
  border-radius: 999px;
  background-color: rgba(0, 0, 0, 1);
  width: 123px;
  height: 51px;
}

.label-_wrap {
  height: fit-content;
}

.txt-743 {
  font-size: 24px;
  font-family: Inter, sans-serif;
  font-weight: 500;
  line-height: 100%;
  color: rgba(250, 250, 250, 1);
  text-align: center;
  word-wrap: break-word;
}