.selectedOptArea1 {
    width: 40px;
    height: 280px;
    border-radius: 10px;
}
.selectedOptArea2 {
    width: 40px;
    height: 240px;
    border-radius: 10px;
}
.selectedOptArea3 {
    width: 40px;
    height: 200px;
    border-radius: 10px;
    align-items: baseline;
}
.selectedOptArea4 {
    width: 40px;
    height: 160px;
    border-radius: 10px;
}
.selectedOptArea5 {
    width: 40px;
    height: 120px;
    border-radius: 10px;
}
.selectedOptArea6 {
    width: 40px;
    height: 80px;
    border-radius: 10px;
}


.color1 {
    background-color: #FFBB33;
}
.color2 {
    background-color: #FF6795;
}  
.color3 {
    background-color: #8145FF;
}
.color4 {
    background-color: #B83DBA;
}
.color5 {
    background-color: #296194;
}
.color6 {
    background-color: #41BC8B;
}
.colorundefined {
    background-color: #f0f0f0;
}