.page {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 22px;
  margin-left: 5px;
  margin-bottom: 10px;
  color: #333333;
}

.rankingContainer {
  margin-bottom: 20px;
}



.RankImg {
  height: 22px;
  margin-left: 8px;
}

.review {
  display: flex;
  justify-content: space-between;
}

.board {
  display: flex;
  justify-content: space-between;
}
