.dropdownOpts {
  /* column-count: 2; */
  gap: 17px 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0px 5px 0px 5px;
}


.eachOpt {
  list-style:none;
  display: flex;
  gap: 0px 10px;
  align-items: center;
  cursor: pointer;
}

.eachOpt img {
  width: 32px;
  height: 32px;
}

.eachOpt p {
  font-size: 18px;
  color: #333333;
  margin: 0;
}