@tailwind base;
@tailwind components;
@tailwind utilities;

/* #root {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
}

#error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
} */
