$black: #191919 !default;
$blue: #2200f4 !default;
$dark-blue: #100075 !default;
$white: #fafafa !default;
$gray: #f0f0f0 !default;
$dark-gray: #444444 !default;
$yellow: #edce00 !default;
$dark-yellow: #a18b00 !default;
$orange: #ed7018 !default;
$green: #25ed18 !default;
$dark-green: #11a108 !default;
$purple: #ae0dfa !default;
$dark-purple: #610bde !default;
$red: #f53318 !default;

$colors: (
  "black": $black,
  "blue": $blue,
  "dark-blue": $dark-blue,
  "white": $white,
  "gray": $gray,
  "dark-gray": $dark-gray,
  "yellow": $yellow,
  "dark-yellow": $dark-yellow,
  "orange": $orange,
  "green": $green,
  "dark-green": $dark-green,
  "purple": $purple,
  "dark-purple": $dark-purple,
  "red": $red,
) !default;

$primary: #2200f4 !default;
$secondary: #444444 !default;
$info: #0d6bfa !default;
$success: #25ed18 !default;
$warning: #ed7018 !default;
$danger: #f53318 !default;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "white": $white,
) !default;
